* {
  outline: none !important;
}

.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 150px 50px;
  max-width: 600px;
  margin: 0 auto;
}

.description {
  text-align: left;
  padding: 0 0 20px;
  color: #212121;
  align-self: flex-start;
}

.version {
  font-size: 13px;
  color: #888;
  padding: 20px 0;
}

.MuiChip-root {
  margin: 0;
}
